/Comercializadora/nbproject/private/
/uno/nbproject/private/
/USAID/nbproject/private/
/USAID/build/
/BethesdaApp/nbproject/private/
/JPA_prueba/nbproject/private/
/JPA_prueba/build/
/ControlInventario/nbproject/private/
/ControlInventario/build/
/ControlInventarioTheme/nbproject/private/
/ControlInventario/dist/
/ControlInventarioTheme/dist/
/ControlInventarioTheme/build/
